---
name: CI

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: opensafely-core/setup-action@v1
        with:
          python-version: 3.9
          cache-dependency-path: requirements.*.txt
          install-just: true
      - name: Check formatting, linting and import sorting
        run: just check

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v5
      - uses: opensafely-core/setup-action@v1
        with:
          python-version: ${{ matrix.python-version }}
          cache-dependency-path: requirements.*.txt
          install-just: true
      - name: Run tests
        env:
          PYTHON_VERSION: python${{ matrix.python-version }}
        run: just test
